{%- capture 'siteglideMeta' -%}Header.inc||3{%- endcapture -%}
<section class="mainHeader">
    <div class="container">
      {%- include 'content_section', item: '21', name: 'HEADER - Logo' -%}
        <div class="topheader">
            {%- include 'content_section', item: '23', name: 'HEADER - Phone' -%}
        </div>
        {%- include 'content_section', item: '22', name: 'HEADER - Main Menu' -%}
    </div><!-- /.container -->
</section><!-- /.mainHeader -->