---
slug: who-we-are
format: html
handler: ''
layout_name: templates/5
metadata:
  id: 8
  name: Who We Are
  last_edit: 1540845647821
redirect_to: ''
---
{% include 'site/constants' -%}
<!DOCTYPE HTML>
<html>

    <head>
        <title>Who We Are</title>
    </head>

    <body>
        <h1>WHO WE ARE</h1>
        <p>Founders Jennifer and Charles Jones started ProSouth Pressure Washing in 2011 with a desire to deliver the best cleaning solutions to exceed their
            customers’ expectations. While they started as a small detailing service for a local trucking company, they quickly grew their business to
            meet the needs of their customers.</p>
        <p>Soon, they moved forward with the education and certifications necessary to take their pressure washing services to the next level with a two-step
            touchless wash method that is the most effective and environmentally-safe in the pressure washing industry. </p>
        <h2>The ProSouth Mission</h2>
        <p>While their services have evolved over the years, the Jones team continues to focus on their primary mission: </p>
        <p><strong><em>To deliver impressive and superior cleaning solutions through exceptional customer service.         </em></strong> </p>
        <p>Simply put, Jennifer and Charles view themselves as partners with their customers, their community and the environment&mdash;and they consider
            each of those partnerships in everything they do. It’s this high level of customer service and commitment to excellence and to the environment
            that makes our ProSouth Pressure Washing stand out among other businesses in the industry. </p> <img src="/images/whoarewe.jpg" class="img-indent pull-left img-responsive">
        <h2>The ProSouth Difference</h2>
        <p>There are a few reasons Jennifer and Charles and our ProSouth team have so many loyal, repeat customers:</p>
        <ul>
            <li>We design and execute each and every service to satisfy.</li>
            <li>We honor a 100% satisfaction guarantee. </li>
            <li>As a proud member of the Better Business Bureau, we have an A+ rating we work hard to maintain year after year. </li>
            <li>We also received the highest rating from Home Advisor. </li>
        </ul>
        <p>Our dedicated pressure washing team is fully insured with the top education, training and certifications through membership and participation in
            the Power Washers of North America (PWNA). </p>
        <h2>The Roughest, Toughest, Grime Fighters of the South</h2>
        <p>Over the years, we have welcomed our beloved mascot, Prosemite Pete, onto our team as the star of our popular radio commercial. This character
            is a great representation of who we are and what we do for our valued customers. We are rough and tough on grime, but kind to the environment
            and your wallet! </p>
        <p>If you are <a href="/request-a-quote" title="schedule an appointment">ready to schedule an appointment</a> with our ProSouth Pressure Washing team
            to handle your residential, commercial and fleet grime, connect with us online now. You can also check out the testimonials from our satisfied
            customers below. They are proof we continue to live out our ProSouth mission statement with each and every service call. </p>
    </body>

</html>