{%- capture 'siteglideMeta' -%}FOOTER - Social Media||19{%- endcapture -%}
<ul>
    <li><a href="https://www.facebook.com/ProSouthPW/ " target="_blank"><span class="fab fa-facebook-f"></span></a></li>
    <!-- <li><a href="http://twitter.com" target="_blank"><span class="fab fa-twitter"></span></a></li>
    <li><a href="http://instagram.com" target="_blank"><span class="fab fa-instagram"></span></a></li>
    <li><a href="http://youtube.com" target="_blank"><span class="fab fa-youtube"></span></a></li> -->
</ul>