{%- capture 'siteglideMeta' -%}HEADER - Main Menu||22{%- endcapture -%}
<div class="menu-wrap">
    <div class="navbar-default pull-right">
        <a class="navbar-toggle visible-sm visible-xs" href="#navmenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="main-menu visible-md visible-lg list-unstyled clearfix" id="main-menu">
        
{%- include 'menu', id:'29271', layout: 'default', name: 'Main Menu' -%}
    </div>
</div>