{%- capture 'siteglideMeta' -%}SECTION - Breadcrumbs||24{%- endcapture -%}
{module_breadcrumbs, render="collection" collection="bread" template=""}
<div class="breadcrumb">
    <a href="/">home</a>
    {%for item in bread.items reversed %}
    <a href="{{item.url}}">{{item.name}}</a>
    {% endfor %}
</div>