{%- capture 'siteglideMeta' -%}SECTION - Certification Logos||25{%- endcapture -%}
<div class="footer-logo-list">
    <div class="container">
        <ul>
          {%- include 'webapp', type: 'custom_webapp_1', layout: 'default', limit: 100, sort_type: 'name.raw', sort_order: 'asc' -%}
        </ul>
    </div>
</div>
<script>
    $(function(){
        $('.footer-logo-list ul').slick({
            slidesToShow: 5,
            slidesToScroll: 1,
            /*variableWidth: true,*/
			arrows: true,
            responsive: [
                {
                    breakpoint: 1199,
                    settings: {
                        slidesToShow: 4,
                        centerMode: true
                    }
                },
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 3,
                        centerMode: true
                    }
                },
                {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 2,
                        centerMode: true
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        centerMode: true
                    }
                }
            ]
        });
    });
</script>