{%- capture 'siteglideMeta' -%}SECTION - Commercial Before and After||26{%- endcapture -%}
<div class="content clearfix">
    <div class="container">
        <h2>See for Yourself!</h2>
        <p>Want to take a peek at what it means to be a satisfied ProSouth Pressure Washing customer? These before and after photos will tell you all you
            need to know!</p>
        <div id="before-after" class="before-and-after-block carousel slide commercial-ba" data-ride="carousel" data-interval="false"> <a href="#before-after" class="btn--prev" data-slide="prev"><span class="fas fa-chevron-left"></span></a> <a href="#before-after" class="btn--next" data-slide="next"><span class="fas fa-chevron-right"></span></a>
            <div class="carousel-inner" role="listbox"> 
              {%- include 'webapp', type: 'custom_webapp_2', layout: 'default', limit: 100, sort_type: 'name.raw', sort_order: 'asc' -%}
              
            </div>
        </div>
    </div>
</div>