{%- capture 'siteglideMeta' -%}SECTION - Commercial Pressure Washing||27{%- endcapture -%}
<section class="content gray-bg-content">
    <div class="container">
        <div class="residential-list list-inline clearfix">
            <ul>
                {module_webapps id="27113" filter="all" sortType="weightreverse "}
            </ul>
        </div>
    </div>
</section>