{%- capture 'siteglideMeta' -%}SECTION - Commercial Pressure Washing||27{%- endcapture -%}
<section class="content gray-bg-content">
    <div class="container">
        <div class="residential-list list-inline clearfix">
            <ul>
{%- include 'webapp', type: 'custom_webapp_3', layout: 'default', limit: 100, sort_type: 'properties.weighting', sort_order: 'desc' -%}
            </ul>
        </div>
    </div>
</section>