{%- capture 'siteglideMeta' -%}SECTION - Featured Testimonial||28{%- endcapture -%}
<div class="testimonials-module">
    <div class="container">
        
{%- include 'webapp', type: 'custom_webapp_9', layout: 'alternate', limit: 1, sort_type: 'name.raw', sort_order: 'asc' -%}
        <p class="text-center">
            <a href="/who-we-are#testimonials" class="btn-green hvr-sweep-to-right btn-viewmore">VIEW MORE</a>
        </p>
    </div>
</div>