{%- capture 'siteglideMeta' -%}SECTION - Featured Testimonial||28{%- endcapture -%}
<div class="testimonials-module">
    <div class="container">
        {module_webapps id="27110" filter="random" useBackupTemplate="true"}
        <p class="text-center">
            <a href="/who-we-are#testimonials" class="btn-green hvr-sweep-to-right btn-viewmore">VIEW MORE</a>
        </p>
    </div>
</div>