{%- capture 'siteglideMeta' -%}About - Meet the Team||3{%- endcapture -%}
<link rel="stylesheet" href="{{'css/webapps/team/6.min.css' | asset_url}}">
<section id="" class="team6 sectionPadding backgroundLight fdb-block team-6">
	<div class="container">
		<div id="webappTitle1" class="row sectionPaddingBottom align_center">
			<div class="col contentCenter">
				<h2>Meet the Team</h2>
			</div>
		</div>
		<div class="row rowCushionColumnPadding text-center ">
			<div class="col-sm-6 col-md-4">
				<div class="columnPadding">
					<a href="/team-item/new-item-1529590019728">
						<img alt="image" class="img-fluid" src="{{ 'images/fido/AdobeStock_121101522.png' | asset_url }}">
						<h4>Joe Hughes</h4>
						<p>Web Designer</p>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however
						a small line of blind text by the name of Lorem Ipsum.</p>
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="columnPadding">
					<a href="/team-item/new-item-1529590139960">
						<img alt="image" class="img-fluid" src="{{ 'images/fido/AdobeStock_121800717.png' | asset_url }}">
						<h4>Katherine Crawford</h4>
						<p>Project Manager</p>
						<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove,
							there live the blind texts.</p>
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="columnPadding">
					<a href="/team-item/new-item-1529590273143">
						<img alt="image" class="img-fluid" src="{{ 'images/fido/AdobeStock_170017144.png' | asset_url }}">
						<h4>Rachel Vasquez</h4>
						<p>Designer</p>
						<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic
							country, in which roasted parts of sentences.</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>