{%- capture 'siteglideMeta' -%}SECTION - Residential Before and After Carousel||32{%- endcapture -%}
<div id="before-after" class="before-and-after-block carousel slide residential-ba" data-ride="carousel" data-interval="false"> <a href="#before-after" class="btn--prev" data-slide="prev"><span class="fas fa-chevron-left"></span></a>
    <a href="#before-after" class="btn--next" data-slide="next"><span class="fas fa-chevron-right"></span>
    </a>
    <div class="carousel-inner" role="listbox"> 
{%- include 'webapp', type: 'custom_webapp_7', layout: 'default', limit: '100', sort_type: 'name.raw', sort_order: 'asc' -%} </div>
</div>