{%- capture 'siteglideMeta' -%}SECTION - Testimonials||34{%- endcapture -%}
<section class="content gray-bg-content">
    <div class="container">
        <h2 id="testimonials">See What Our Customers Are Saying....</h2>
        <p>&nbsp;</p>
        <div class="testimonials-list list-unstyled">
            <ul>{%- include 'webapp', type: 'custom_webapp_9', layout: 'default', limit: '10', sort_type: 'name.raw', sort_order: 'asc' -%} </ul>
            <p class="text-center">
                <button class="btn-green hvr-sweep-to-right btn-viewmore">VIEW MORE</button>
            </p>
        </div>
    </div>
</section>