{%- capture 'siteglideMeta' -%}SECTION - Testimonials||34{%- endcapture -%}
<section class="content gray-bg-content">
    <div class="container">
        <h2 id="testimonials">See What Our Customers Are Saying....</h2>
        <p>&nbsp;</p>
        <div class="testimonials-list list-unstyled">
            <ul> {module_webapps id="27110" filter="all"} </ul>
            <p class="text-center">
                <button class="btn-green hvr-sweep-to-right btn-viewmore">VIEW MORE</button>
            </p>
        </div>
    </div>
</section>