{%- capture 'siteglideMeta' -%}Services - Call to action||6{%- endcapture -%}
<section id="" class="callToAction10 sectionPaddingTop backgroundLight fdb-block pb-0" style="background: linear-gradient(to bottom, rgba(0,0,0,0.4) , rgba(0,0,0,0.45)), url({{ 'images/fido/AdobeStock_121800717.png' | asset_url }});  background-position: center; background-size: cover; background-repeat: no-repeat;"> 
	<div class="container">
		<div class="row  justify-content-end">
			<div class="col-12 col-md-8 col-lg-6 text-center">
				<div class="card_container fdb-box br-0">
					<h2>Call to Action</h2>
					<p class="text-h3">
						When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove
					</p>
					<p class="mt-4">
						<a class="btn buttonAccent" href="">Download</a>
					</p>
					</div>
			</div>
		</div>
	</div>
</section>