{%- capture 'siteglideMeta' -%}Homepage - Fidos beginnings||9{%- endcapture -%}
<section id="contentSection20" class="backgroundLight fdb-block sectionPadding" style="background-image: url({{ 'images/fido/AdobeStock_121800717.png' | asset_url }}); background-position: center center; background-size: cover;">
		<div class="container">
			<div class="row">
			<div class="col-12 col-sm-10 m-auto m-md-0 col-md-8 col-lg-6">
					<div class="fdb-box">
						<div class="row justify-content-center">
							<div class="col-12 col-xl-8 text-center">
								<h2>Fido's beginnings</h2>
								<p class="text-h3">When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove</p>
								<p class="text-h3 mt-4"><a href="/about">Learn more &gt;</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>