{%- capture 'siteglideMeta' -%}CHILD Mobile Fleet Template||3{%- endcapture -%}
{% include 'site/constants' -%}
{%- capture 'siteglideMeta' -%}CHILD Mobile Fleet Template||3{%- endcapture -%}
<!DOCTYPE html>
<html lang="en">

<head>
  {%- include 'header', item: '2', name: 'Head.inc' -%}
    <link rel="shortcut icon" href="{{ '/images/favicon-prosouth.ico' | asset_url }}" type="image/x-icon" />
</head>

<body class="homepage">
  <div id="page">
    {%- include 'header', item: '3', name: 'Header.inc' -%}

    {%- include 'content_section', item: '14', name: 'BANNER - Child' -%}

    <section class="content mainContent clearfix">
      <div class="container">
        {%- include 'content_section', item: '24', name: 'SECTION - Breadcrumbs' -%}
        {{ content_for_layout }}
       </div>
    </section>

    {%- include 'content_section', item: '29', name: 'SECTION - Mobile Fleet Before and After' -%}
      
    {%- include 'content_section', item: '28', name: 'SECTION - Featured Testimonial' -%}
    
  
    {%- include 'footer', item: '2', name: 'Footer.inc' -%}
  </div><!-- /.page -->
  {%- include 'code_snippet', item: '3', name: 'Scripts.inc' -%}
		{% include 'site/siteglide' -%}
	</body>
</html>