---
slug: reset-password
metadata:
  title: Reset password
---

<h2>{{ page.metadata.title }}</h2>

{%- query_graph 'get_user_by_email', email: params.email, result_name: g -%}
{% assign token_valid = params.token | is_token_valid: g.user.id %}


<div class="row">
  <div class="col-xs-12 col-md-6">
    {% if g.user.id == blank or token_valid == false or g.user.default_profile.password_token != params.token %}
      <p>Unfortunately, provided token is not valid anymore. Please request password instructions again.</p>
    {% else %}
      {% render_form 'reset_password', resource_id: @g.user.id %}
    {% endif %}
  </div>
</div>